<configuration>
    <appender name="LogstashEncoder" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="WARN">
        <appender-ref ref="LogstashEncoder"/>
    </root>

    <logger name="no.nav.helse" level="INFO"/>

</configuration>